@font-face {
    font-family: 'inter-bold';
    src: url('../Font//Inter//static//Inter_18pt-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-medium';
    src: url('../Font/Inter/static//Inter_18pt-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-light';
    src: url('../Font//Inter/static/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Nicky-regular";
  src: url("../Font//NickySans/OpenType-TT/NickySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nicky-bold";
  src: url("/Font//NickySans/OpenType-TT/NickySans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'inter-bold'!important;
    /* letter-spacing: -1px; */
}
p{
   font-family: 'inter-medium';
}
.bin{
  font-family: 'inter-light'!important;
}
.BM{
      font-family: "Nicky-regular"!important;
}
.BM-1{
      font-family: "Nicky-bold"!important;
      font-weight: 900 !important;
}
@keyframes blinkDot {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.blink-dot {
  animation: blinkDot 2s infinite;
}
